<ng-container *ngIf="task$ | async as taskData">
  <div class="bg-color">
    <div class="flex-grow-1 p-4 ps-0 margin-left">
      <div class="row">
        <div class="col-md-8">
          <div class="d-flex align-items-center justify-content-between">
            <div class="row w-100">
              <div class="col-md-7">
                <div class="d-flex align-items-center">
                  <h2>{{ taskData.name }}</h2>
                </div>
                <app-show-status [status]="taskData.status"></app-show-status>
              </div>
              <div class="col-md-5">
                <div *ngIf="showCloseTask; else checkReward">
                  <ng-container *ngIf="taskData.skills | async as skills">
                    <a
                      href="javascript:void(0)"
                      class="btn btn-outline-dark m-1"
                      (click)="updateTask(true, taskData, skills)">
                      <div class="d-flex align-items-center justify-content-evenly m-1">
                        <mat-icon>check_circle</mat-icon>
                        <span class="margin-left">CLOSE TASK</span>
                      </div>
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="btn btn-outline-dark m-1"
                      (click)="updateTask(false, taskData, skills)">
                      <div class="d-flex align-items-center justify-content-evenly m-1">
                        <mat-icon>cancel</mat-icon>
                        <span class="margin-left">CANCEL TASK</span>
                      </div>
                    </a>
                  </ng-container>
                </div>
                <ng-template #checkReward>
                  <div *ngIf="showReward">
                    <a href="javascript:void(0)" class="btn btn-outline-dark" (click)="getReward(taskData.id)">
                      <div class="d-flex align-items-center justify-content-evenly m-1">
                        <mat-icon>emoji_events</mat-icon>
                        <span class="margin-left">GET REWARD</span>
                      </div>
                    </a>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="p-4 bg-white mt-2 mb-2">
            <markdown>{{ taskData.description }}</markdown>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="p-4 bg-white mt-2 mb-2 h-100">
                <h3>Responsible</h3>
                <div *ngIf="this.reviewer$ | async as reviewer" class="d-flex align-items-center flex-column">
                  <img class="mb-0" src="{{ reviewer.profileImage }}" class="circle-image" />
                  <h4 class="mb-0">{{ reviewer.firstName }} {{ reviewer.surname }}</h4>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="p-4 bg-white mt-2 mb-2 h-100">
                <h3>Members</h3>
                <div *ngIf="members$ | async as members">
                  <mat-list>
                    <mat-list-item *ngFor="let member of members" (click)="goTo(member.id)">
                      <img
                        matListItemAvatar
                        src="{{ member.profileImage }}"
                        alt="{{ member.firstName }} {{ member.surname }} profile image" />
                      <div matListItemTitle>{{ member.firstName }} {{ member.surname }}</div>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="p-4 bg-white">
            <h2 class="d-flex justify-content-between align-items-center mb-3">Skills</h2>
            <mat-list *ngIf="taskData.skills | async as skills">
              <mat-list-item *ngFor="let skill of skills">
                <div matListItemTitle>{{ skill.name }}</div>
                <div matListItemLine>{{ skill.category }}</div>
              </mat-list-item>
            </mat-list>
          </div>

          <div class="p-4 bg-white margin-top">
            <h2 class="d-flex justify-content-between align-items-center mb-3">Deadline</h2>
            <mat-card class="calendar-card">
              <mat-calendar class="custom-calendar" [selected]="taskData.end"></mat-calendar>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
