<mat-list>
  <mat-list-item *ngFor="let organization of organizations | async" (click)="goTo(organization.address)">
    <img matListItemAvatar src="{{ organization.icon }}" alt="{{ organization.name }} icon" />
    <span matListItemTitle>{{ organization.name }}</span>
    <span matListItemLine>{{ organization.headline }}</span>
    <p matListItemLine>
      Bologna, Italy &#8226; <mat-icon class="line-icon" fontIcon="auto_awesome_mosaic"></mat-icon>
      {{ organization.projectCount }} &#8226; <mat-icon class="line-icon" fontIcon="group"></mat-icon> {{ getOrganizationMembers(organization) }}
    </p>
    <button
      mat-icon-button
      #tooltip="matTooltip"
      matTooltip="Join"
      matTooltipPosition="below"
      matTooltipHideDelay="500"
      matListItemMeta
      color="primary">
      <mat-icon>login</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
