.container {
    display: flex;
    align-items: center;
    justify-self: center;
  }
  
  .container span {
    font-size: 1.2rem;
    font-weight: 500;
    flex: 1;
  }
  
  .container-buttons {
    display: flex;
    flex: 1;
    padding: 16px;
    justify-content: flex-end;
    gap: 16px;
  }
  
  .avatar {
    object-fit: cover;
  }
  