<ng-container *ngIf="skills$ | async as skills">
  <div class="p-4 bg-white skill-min-height">
    <h2 class="d-flex justify-content-between align-items-center mb-3">
      Skill
      <a href="javascript:void(0)" class="btn btn-outline-dark" *ngIf="skills.length > 0">All Skills</a>
    </h2>

    <div class="row">
      <ng-container *ngIf="skills.length > 0; else noSkills">
        <div class="col-md-4" *ngFor="let skill of skills">
          <mat-card class="border p-3 py-4 cards rounded-3 mb-4">
            <mat-card-title class="mb-2">{{ skill?.name }}</mat-card-title>
            <mat-card-subtitle class="mb-2">{{ skill?.category }}</mat-card-subtitle>
            <mat-progress-bar class="mb-2" mode="determinate" value="{{ skill?.progress }}"></mat-progress-bar>
            <mat-card-subtitle class="d-flex nav-item justify-content-between"
              ><span>{{ skill?.progress }} xp</span>
              <mat-icon class="text-warning">{{ skill?.icon }}</mat-icon>
            </mat-card-subtitle>
          </mat-card>
        </div>
      </ng-container>
      <ng-template #noSkills> No skills found </ng-template>
    </div>
  </div>
</ng-container>
