<div class="dark-wrapper p-5">
  <div class="container">
    <div class="my3sec-modal">
      <div class="logo-img text-center mb-5">
        <img src="../../../assets/images/my3sec-logo-cropped.png" />
      </div>
      <h2>Create an Organization</h2>
      <form action="#" class="form form-label-right" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="login-input-col-2 login-input-col-1">
          <mat-form-field class="example-form-field d-block" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" autocomplete="off" formControlName="name" />
            <mat-error *ngIf="formError('name', 'required')">Organization name is required</mat-error>
          </mat-form-field>
        </div>
        <div class="login-input-col-2 login-input-col-1">
          <mat-form-field class="example-form-field d-block" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" autocomplete="off" formControlName="description"></textarea>
            <mat-error *ngIf="formError('description', 'required')">Organization description is required</mat-error>
          </mat-form-field>
        </div>
        <input class="file-input" type="file" id="organizationIcon" name="avatar" accept="image/*"
          formControlName="organizationIcon" (change)="onFileSelected($event, fileInputLabel)" #organizationIconInput />
        <div class="avatar">
          <div class="avatar-label">
            <div class="organization-icon cursor-pointer">
              <img src="https://effigy.im/a/0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045.png" (click)="organizationIconInput.click()" />
            </div>
            <div class="cursor-pointer" (click)="organizationIconInput.click()" #fileInputLabel>Organization logo</div>
          </div>
        </div>
        <div class="margin-top text-center">
          <mat-error *ngIf="formError('organizationIcon', 'required') && (organizationIcon?.touched || this.submitted)">Organization logo</mat-error>
        </div>
        <div class="text-center mt-4">
          <button class="btn btn-dark text-uppercase" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
