.display-status {
  margin-left: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.text-not-started {
  color: #6c757d;
}
.text-completed {
  color: #28a745;
}
.text-cancelled {
  color: #dc3545;
}
.text-in-progress {
  color: #007bff;
}
