<app-profile-header></app-profile-header>
<div class="profileComponentBlock bg-light h-100vh">
  <div class="container-fluid" *ngIf="this.profileData$ | async as profileData">
    <div class="profileMainBlock">
      <div class="profile-left-block flex-grow-1 mt-5 p-4 ps-0">
        <div class="profileHeaderBlock">
          <div class="row">
            <div class="col-md-8">
              <div
                class="profileUser d-flex align-items-center justify-content-between"
              >
                <div class="d-flex align-items-center">
                  <div class="profile-picture">
                    <img
                      src="{{ decodedImage }}"
                      alt="Profile Picture"
                      class="circle-image"
                    />
                  </div>
                  <div class="profiletitleBlock">
                    <h1 class="fw-bold">
                      {{ profileData.firstName }} {{ profileData.surname }}
                    </h1>
                    <p>
                      {{ profileData.walletAddress }}
                      <small class="bg-dark text-white p-2 rounded ms-4"
                        >ENDORSE</small
                      >
                    </p>
                  </div>
                </div>
                <div class="profileMultiUserBlock me-0 me-lg-3">
                  <ul class="mb-0 mb-lg-4">
                    <li><mat-icon class="">account_circle</mat-icon></li>
                    <li><mat-icon class="">account_circle</mat-icon></li>
                    <li><mat-icon class="">account_circle</mat-icon></li>
                    <li><mat-icon class="">account_circle</mat-icon></li>
                  </ul>
                  <p>
                    Lorem Ipsum is <br />
                    simply
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <mat-card
                class="border-0 box-shadow-none p-3 cards rounded-3 d-flex align-items-center justify-content-between flex-row cardCountBlock"
              >
                <div>
                  <h2 class="mb-0">{{ 0 }}</h2>
                  <p class="mb-0">Endorsers</p>
                </div>
                <div>
                  <h2 class="mb-0">{{ 0 }}</h2>
                  <p class="mb-0">Endorsing</p>
                </div>
                <div *ngIf="profileData.energy$ | async as energy">
                  <h2 class="mb-0">{{ energy }}</h2>
                  <p class="mb-0">Energy</p>
                </div>
              </mat-card>
            </div>
          </div>
        </div>

        <div class="profileSkillSection">
          <div class="row">
            <!-- Skill -->
            <div class="col-md-8">
              <app-skills [skills]="profileData.skills"></app-skills>
            </div>
            <!-- Skill-->
            <!-- Certificates -->
            <div class="col-md-4">
              <app-certificates
                [certificatesData]="profileData.certificates"
              ></app-certificates>
            </div>

            <!-- Certificates-->
          </div>
        </div>
      </div>
      <div
        class="profile-right-block bg-white flex-grow-2 w-25 p-4 mt-5 timeline-min-height"
      >
        <h1>Timeline</h1>
      </div>
    </div>
    <!--Project-->
    <app-projects [projects]="profileData.projects"></app-projects>
    <!--Project-->
  </div>
</div>
