<div *ngIf="this.profileData$ | async as profileData">
  <div
    *ngIf="{
      totalEnergyOf: profileData.energy.totalEnergyOf$ | async,
      freeEnergyOf: profileData.energy.freeEnergyOf$| async
    } as energy"
  >
    <app-profile-header
      [totalEnergy]="energy.totalEnergyOf"
      [freeEnergy]="energy.freeEnergyOf"
    ></app-profile-header>
  </div>

  <div class="profileComponentBlock bg-light h-100vh">
    <div class="container-fluid">
      <div class="profileMainBlock">
        <div class="profile-left-block flex-grow-1 mt-5 p-4 ps-0">
          <div class="profileHeaderBlock">
            <div class="row">
              <div class="col-md-8">
                <div
                  class="profileUser d-flex align-items-center justify-content-between"
                >
                  <div class="d-flex align-items-center">
                    <div class="profile-picture">
                      <img
                        src="{{ profileData.profileImage }}"
                        alt="Profile Picture"
                        class="circle-image"
                      />
                    </div>
                    <div class="profiletitleBlock">
                      <h1 class="fw-bold">
                        {{ profileData.firstName }} {{ profileData.surname }}
                      </h1>
                      <p>
                        {{ profileData.walletAddress }}
                        <small class="bg-dark text-white p-2 rounded ms-4" *ngIf="!this.useDefaultProfile"
                          >ENDORSE</small
                        >
                      </p>
                    </div>
                  </div>
                  <div class="profileMultiUserBlock me-0 me-lg-3">
                    <ul class="mb-0 mb-lg-4">
                      <li><mat-icon class="">account_circle</mat-icon></li>
                      <li><mat-icon class="">account_circle</mat-icon></li>
                      <li><mat-icon class="">account_circle</mat-icon></li>
                      <li><mat-icon class="">account_circle</mat-icon></li>
                    </ul>
                    <p>
                      Lorem Ipsum is <br />
                      simply
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <mat-card
                  class="border-0 box-shadow-none p-3 cards rounded-3 d-flex align-items-center justify-content-between flex-row cardCountBlock"
                >
                  <div class="d-flex align-items-center flex-column"
                    *ngIf="{
                      value: profileData.energy.energizedBy$ | async
                    } as energizedBy"
                  >
                    <h2 class="mb-0">{{ energizedBy.value }}</h2>
                    <p class="mb-0">Endorsers</p>
                  </div>

                  <div class="d-flex align-items-center flex-column"
                    *ngIf="{
                      value: profileData.energy.energizersOf$ | async
                    } as energizersOf"
                  >
                    <h2 class="mb-0">{{ energizersOf.value }}</h2>
                    <p class="mb-0">Endorsing</p>
                  </div>
                  <div class="d-flex align-items-center flex-column"
                    *ngIf="{
                      value: profileData.energy.receivedEnergyOf$ | async
                    } as receivedEnergyOf"
                  >
                    <h2 class="mb-0">{{ receivedEnergyOf.value }}</h2>
                    <p class="mb-0">Energy</p>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>

          <div class="profileSkillSection">
            <div class="row">
              <!-- Skill -->
              <div class="col-md-8">
                <app-skills [skills]="profileData.skills"></app-skills>
              </div>
              <!-- Skill-->
              <!-- Certificates -->
              <div class="col-md-4">
                <app-certificates
                  [certificates]="profileData.certificates"
                ></app-certificates>
              </div>

              <!-- Certificates-->
            </div>
          </div>
        </div>
        <div
          class="profile-right-block bg-white flex-grow-2 w-25 p-4 mt-5 timeline-min-height"
        >
          <h1>Timeline</h1>
        </div>
      </div>
      <!--Project-->
      <app-projects [projects]="profileData.projects"></app-projects>
      <!--Project-->
    </div>
  </div>
</div>
