.navbar-brand img {
  width: 30px;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align.ng-tns-c237-0 {
  display: none !important;
}

.navbar .form-select {
  background-color: #a8a8a8;
  border-radius: 6px 0px 0px 6px;
  border: 0;
  width: 150px;
}

.navbar .form-control {
  border-radius: 0;
  border: 0;
  width: 500px;
}

.navbar .btn {
  border-radius: 0 6px 6px 0;
  border: 0;
  background-color: #a8a8a8;
  height: 48px;
  line-height: 48px;
}

.navbar .btn .mat-icon {
  color: #000;
}

.navbar .form-select,
.navbar .form-control {
  height: 48px;
}

.profile-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.add-button {
  color: #fff;
}
@media screen and (max-device-width: 640px) {
  .navbar .form-control {
    width: 100%;
  }

  .navbar form {
    margin: 20px 0;
  }

  .navbar .navbar-nav .nav-item {
    justify-content: space-between;
    border-bottom: 1px solid #a8a8a8;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar .form-control {
    width: 100%;
  }

  .navbar form {
    margin: 20px 0;
  }

  .navbar .navbar-nav .nav-item {
    justify-content: space-between;
    border-bottom: 1px solid #a8a8a8;
  }
}
