<div class="profileComponentBlock bg-light h-100vh">
    <div class="container-fluid">
        <div class="profileMainBlock">
            <div class="profile-left-block flex-grow-1 mt-5 p-4 ps-0">
                <div class="profileHeaderBlock">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="profileUser d-flex align-items-center justify-content-between ">
                                <div class="d-flex align-items-center">
                                    <mat-icon class="text-white">account_circle</mat-icon>
                                    <div class="profiletitleBlock">
                                        <h1 class="fw-bold">Ivan Zayrianoff</h1>
                                        <p>Lorem Ipsum is simply dummy text <small class="bg-dark text-white p-2 rounded ms-4">ENDORSE</small></p>
                                    </div>
                                </div>
                                <div class="profileMultiUserBlock">
                                    <ul>
                                        <li><mat-icon class="">account_circle</mat-icon></li>
                                        <li><mat-icon class="">account_circle</mat-icon></li>
                                        <li><mat-icon class="">account_circle</mat-icon></li>
                                        <li><mat-icon class="">account_circle</mat-icon></li>
                                    </ul>
                                    <p>Lorem Ipsum is <br /> simply</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="border-0 box-shadow-none p-3 cards rounded-3 d-flex align-items-center justify-content-between flex-row cardCountBlock">
                            <div>
                                <h2 class="mb-0">50</h2>
                                <p class="mb-0">Endorsers</p>
                            </div>
                            <div>
                                <h2 class="mb-0">200</h2>
                                <p class="mb-0">Endorsing</p>
                            </div>
                            <div>
                                <h2 class="mb-0">347</h2>
                                <p class="mb-0">Energy</p>
                            </div>
                        </mat-card>
                        </div>
                    </div>
                </div>

                <div class="profileSkillSection">
                    <div class="row">
                        <div class="col-md-8">
                            <div class=" p-4 bg-white skill-min-height">
                                <h2 class=" d-flex justify-content-between align-items-center mb-3">Skill <a href="" class="btn btn-outline-dark text-dark">All Skill</a></h2>
                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <mat-card class="border p-3 py-4 cards rounded-3">
                                                <mat-card-title>Java Script</mat-card-title>
                                                <mat-card-subtitle>Computer Score</mat-card-subtitle>
                                                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                                <mat-card-subtitle class="d-flex nav-item justify-content-between"><span>Computer Score</span>  <mat-icon class="text-warning">verified_user</mat-icon>  </mat-card-subtitle>
                                        </mat-card>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-card class="border p-3 py-4 cards rounded-3">
                                                <mat-card-title>Java Script</mat-card-title>
                                                <mat-card-subtitle>Computer Score</mat-card-subtitle>
                                                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                                <mat-card-subtitle class="d-flex nav-item justify-content-between"><span>Computer Score</span>  <mat-icon class="text-warning">verified_user</mat-icon>  </mat-card-subtitle>
                                        </mat-card>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-card class="border p-3 py-4 cards rounded-3">
                                                <mat-card-title>Java Script</mat-card-title>
                                                <mat-card-subtitle>Computer Score</mat-card-subtitle>
                                                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                                <mat-card-subtitle class="d-flex nav-item justify-content-between"><span>Computer Score</span>  <mat-icon class="text-warning">verified_user</mat-icon>  </mat-card-subtitle>
                                        </mat-card>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-card class="border p-3 py-4 cards rounded-3">
                                                <mat-card-title>Java Script</mat-card-title>
                                                <mat-card-subtitle>Computer Score</mat-card-subtitle>
                                                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                                <mat-card-subtitle class="d-flex nav-item justify-content-between"><span>Computer Score</span>  <mat-icon class="text-warning">verified_user</mat-icon>  </mat-card-subtitle>
                                        </mat-card>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-card class="border p-3 py-4 cards rounded-3">
                                                <mat-card-title>Java Script</mat-card-title>
                                                <mat-card-subtitle>Computer Score</mat-card-subtitle>
                                                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                                <mat-card-subtitle class="d-flex nav-item justify-content-between"><span>Computer Score</span>  <mat-icon class="text-warning">verified_user</mat-icon>  </mat-card-subtitle>
                                        </mat-card>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-card class="border p-3 py-4 cards rounded-3">
                                                <mat-card-title>Java Script</mat-card-title>
                                                <mat-card-subtitle>Computer Score</mat-card-subtitle>
                                                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                                <mat-card-subtitle class="d-flex nav-item justify-content-between"><span>Computer Score</span>  <mat-icon class="text-warning">verified_user</mat-icon>  </mat-card-subtitle>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="certificateCardBlock p-4 bg-white skill-min-height">
                                <h2 class=" d-flex justify-content-between align-items-center mb-3">Certificates </h2>
                                <mat-card class="border p-3 cards bg-dark text-white rounded-3 mb-3 border-0">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <mat-icon class="text-dark">video_label</mat-icon>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                        <h6>Computer Scientist </h6>
                                        <small class="text-Light text-end">Hour based Achivement </small>
                                        <small class="text-Light text-end d-block">04/04/2023 </small>
                                        </div>
                                    </div>
                                    <div class="certificatesItemIcon">
                                        <mat-icon class="text-black">video_label</mat-icon>
                                    </div>
                                </mat-card>
                                <mat-card class="border p-3 cards bg-dark text-white rounded-3 mb-3 border-0">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <mat-icon class="text-dark">video_label</mat-icon>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                        <h6>Computer Scientist </h6>
                                        <small class="text-Light text-end">Hour based Achivement </small>
                                        <small class="text-Light text-end d-block">04/04/2023 </small>
                                        </div>
                                    </div>
                                    <div class="certificatesItemIcon">
                                        <mat-icon class="text-dark">video_label</mat-icon>
                                    </div>
                                </mat-card>
                                <mat-card class="border p-3 cards bg-dark text-white rounded-3 border-0">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <mat-icon class="text-dark  ">video_label</mat-icon>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                        <h6>Computer Scientist </h6>
                                        <small class="text-Light text-end">Hour based Achivement </small>
                                        <small class="text-Light text-end d-block">04/04/2023 </small>
                                        </div>
                                    </div>
                                    <div class="certificatesItemIcon">
                                        <mat-icon class="text-black">video_label</mat-icon>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="profile-right-block bg-white flex-grow-2 w-25 p-4 mt-5 timeline-min-height">
                <h1>Timeline</h1>
            </div>
        </div>
        <div class="profileProjectTable mt-4 bg-white p-4">
            <h2 class=" d-flex justify-content-between align-items-center mb-3">Project <a href="" class="btn btn-outline-dark text-dark">ALL PROJECT</a></h2>
                <div class="table-responsive">
            <table class="table ">
                <tbody>
                  <tr class="d-flex align-items-center justify-content-between border rounded mb-2">
                    <td class="border-0"><div class="rounded-3 bg-dark text-white text-center d-flex flex-column">84h </div> </td>
                    <td class="border-0">
                        <div class="d-flex flex-column text-center">
                            <h5 class="mb-0">My3Sec</h5>
                            <small>Tracking time and</small>
                        </div>
                    </td>
                    <td class="border-0">
                        <div class="d-flex flex-column text-center">
                            <h5 class="mb-0">25</h5>
                            <small>Tasks</small>
                        </div>
                    </td>
                    <td class="border-0">
                        <div class="d-flex flex-column text-center">
                            <h5 class="mb-0">VAIMEE</h5>
                            <span><mat-icon>account_circle</mat-icon> </span>
                        </div>
                    </td>
                    <td class="border-0">
                        <div class="d-flex flex-column text-center">
                            <h5 class="mb-0">5/10</h5>
                            <small>Months completed</small>
                        </div>
                    </td>
                    <td class="border-0">
                        <div class="text-center">
                            <div class="profileMultiUserBlock">
                                <ul class="mb-4">
                                    <li><mat-icon class="text-black">account_circle</mat-icon></li>
                                    <li><mat-icon class="text-black">account_circle</mat-icon></li>
                                    <li><mat-icon class="text-black">account_circle</mat-icon></li>
                                    <li><mat-icon class="text-black">account_circle</mat-icon></li>
                                </ul>
                            </div>
                            <small>Tracking time and</small>
                        </div>
                    </td>
                    <td class="border-0">
                        <div class="d-flex flex-column text-center">
                            <span><mat-icon>account_circle</mat-icon> </span>
                            <small>Project Manager</small>
                        </div>
                    </td>
                    <td class="border-0">
                        <div class="d-flex flex-column text-center">
                            <h5 class="mb-0 text-success">ACTIVE</h5>
                        </div>
                    </td>
                  </tr>

                  <tr class="d-flex align-items-center justify-content-between border rounded mb-2">
                    <td class="border-0"><div class="rounded-3 bg-dark text-white text-center d-flex flex-column">84h </div> </td>
                    <td class="border-0">
                        <div class="d-flex flex-column text-center">
                            <h5 class="mb-0">My3Sec</h5>
                            <small>Tracking time and</small>
                        </div>
                    </td>
                    <td class="border-0">
                        <div class="d-flex flex-column text-center">
                            <h5 class="mb-0">25</h5>
                            <small>Tasks</small>
                        </div>
                    </td>
                    <td class="border-0">
                        <div class="d-flex flex-column text-center">
                            <h5 class="mb-0">VAIMEE</h5>
                            <span><mat-icon>account_circle</mat-icon> </span>
                        </div>
                    </td>
                    <td class="border-0">
                        <div class="d-flex flex-column text-center">
                            <h5 class="mb-0">5/10</h5>
                            <small>Months completed</small>
                        </div>
                    </td>
                    <td class="border-0">
                        <div class="text-center">
                            <div class="profileMultiUserBlock">
                                <ul class="mb-4">
                                    <li><mat-icon class="text-black">account_circle</mat-icon></li>
                                    <li><mat-icon class="text-black">account_circle</mat-icon></li>
                                    <li><mat-icon class="text-black">account_circle</mat-icon></li>
                                    <li><mat-icon class="text-black">account_circle</mat-icon></li>
                                </ul>
                            </div>
                            <small>Tracking time and</small>
                        </div>
                    </td>
                    <td class="border-0">
                        <div class="d-flex flex-column text-center">
                            <span><mat-icon>account_circle</mat-icon> </span>
                            <small>Project Manager</small>
                        </div>
                    </td>
                    <td class="border-0">
                        <div class="d-flex flex-column text-center">
                            <h5 class="mb-0 text-success">ACTIVE</h5>
                        </div>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              </div>
        </div>
    </div>


    
</div>
