<div class="dark-wrapper p-5">
  <div class="container">
    <div class="my3sec-modal">
      <div class="logo-img text-center mb-5">
        <img src="../../../assets/images/my3sec-logo-cropped.png" />
      </div>
      <h2>Log Hours</h2>
      <ng-container *ngIf="affiliations$ | async as affiliations">
        <form action="#" class="form form-label-right" [formGroup]="logHoursForm" (ngSubmit)="onSubmit()">
          <div class="login-input-col-2 login-input-col-1">
            <mat-form-field class="example-form-field d-block" appearance="outline">
              <mat-label>Task</mat-label>
              <mat-select [formGroup]="logHoursForm" autocomplete="off" formControlName="task">
                <mat-option>None</mat-option>
                <mat-optgroup *ngFor="let affiliation of affiliations" [label]="affiliation.project.name">
                  <mat-option
                    *ngFor="let task of affiliation.tasks"
                    [value]="{ id: task.id, address: affiliation.project.organization }">
                    {{ task.name }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="login-input-col-2 login-input-col-1">
            <mat-form-field class="example-form-field d-block" appearance="outline">
              <mat-label>Hours</mat-label>
              <input matInput type="number" name="hours" autocomplete="off" formControlName="hours" min="1" step="1" />
              <mat-error *ngIf="formError('hours', 'required')">Hours is required</mat-error>
            </mat-form-field>
          </div>
          <div class="text-center mt-4">
            <button class="btn btn-dark text-uppercase" type="submit">LOG HOURS</button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>
