<ng-container *ngIf="project$ | async as project">
  <div class="header">
    <div class="header-project">
      <ng-container *ngIf="project.icon">
        <img class="round-image" src="{{ project.icon }}" />
      </ng-container>
      <div class="header-project name">
        <h2>{{ project.name }}</h2>
        <app-show-status [status]="project.status"></app-show-status>
      </div>
      <p>{{ project.headline }}</p>
    </div>
    <ng-container *ngIf="project.members | async as members">
      <app-people-detail [people]="members" [showAddPeopleIcon]="(isManager$ | async) || false"></app-people-detail>
    </ng-container>
    <ng-container *ngIf="isManager$ | async as isManager">
      <a
        *ngIf="showStart(project.status)"
        href="javascript:void(0)"
        class="btn btn-outline-dark m-1"
        (click)="updateProject(Status.IN_PROGRESS)">
        <div class="d-flex align-items-center justify-content-evenly m-1">
          <mat-icon>check_circle</mat-icon>
          <span class="margin-left">START PROJECT</span>
        </div>
      </a>
      <a
        *ngIf="showComplete(project.status)"
        href="javascript:void(0)"
        class="btn btn-outline-dark m-1"
        (click)="updateProject(Status.COMPLETED)">
        <div class="d-flex align-items-center justify-content-evenly m-1">
          <mat-icon>check_circle</mat-icon>
          <span class="margin-left">CLOSE PROJECT</span>
        </div>
      </a>
      <a
        *ngIf="showCancel(project.status)"
        href="javascript:void(0)"
        class="btn btn-outline-dark m-1"
        (click)="updateProject(Status.CANCELED)">
        <div class="d-flex align-items-center justify-content-evenly m-1">
          <mat-icon>cancel</mat-icon>
          <span class="margin-left">CANCEL PROJECT</span>
        </div>
      </a>
      <a
        *ngIf="project.status === Status.IN_PROGRESS"
        href="javascript:void(0)"
        class="btn btn-outline-dark"
        (click)="goToCreateTask()"
        >CREATE TASK</a
      >
    </ng-container>
  </div>
  <ng-container>
    <markdown>{{ project.description }}</markdown>
    <app-task-list [tasks]="project.tasks"></app-task-list>
  </ng-container>
</ng-container>
