.profileProjectTable table tr td {
  padding: 0;
}
.profileProjectTable table tr td:nth-child(1) {
  /* background-color: #000; */
  height: 56px;
  width: 56px;
  line-height: 56px;
  border-radius: 6px;
}
.profileProjectTable table tr td:nth-child(8) {
  padding-right: 15px;
}

.mdc-data-table__row {
  border: 1px solid #000;
    margin-bottom: 20px !important;
    display: flex;
    gap: 0px;
    justify-content: space-between;
    padding: 0px;
    height: auto;
    align-items: center;
    border-radius: 10px;
}
.profileMultiUserBlockBlack {
  width: 100px;
}
.profileMultiUserBlockBlack .mat-icon {
  color: #000 !important;
}
.mat-mdc-header-row {
  display: none;
}
.profileMultiUserBlock {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 6px;
}
.profileMultiUserBlock ul li {
  list-style: none;
  display: inline-block;
  position: absolute;
  left: 0;
}

.profileMultiUserBlock ul li .mat-icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #fff;
}
.profileMultiUserBlock ul li:nth-child(1) {
  left: 10px;
}
.profileMultiUserBlock ul li:nth-child(2) {
  left: 25px;
}
.profileMultiUserBlock ul li:nth-child(3) {
  left: 40px;
}
.profileMultiUserBlock ul li:nth-child(4) {
  left: 55px;
}



/*Add New CSS*/
.projectHeadingBlock {
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.ProjectActive {
  text-transform: uppercase;
  color: green;
  font-weight: bold;
}
.ProjectClose {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-device-width: 640px) {
  .profileProjectTable table tr td {
    width: 200px;
  }
  .profileMultiUserBlock br {
    display: none;
  }
  table .profileMultiUserBlock {
    display: flex;
    align-items: baseline;
  }
  .profileMultiUserBlockBlack ul  {
    padding: 0;
    text-align: center;
    margin: 0 auto;
  }
  .profileMultiUserBlockBlack {
    width: auto;
  }
  .profileMultiUserBlockBlack ul li {
    position: unset;
  }
  .profileMultiUserBlock  ul  li .mat-icon {
    width: 25px;
    height: 24px;
    font-size: 22px;
}
.profileProjectTable tr td:nth-child(7) {
  width: auto !important;
}
.profileProjectTable tr td:nth-child(8) {
  text-align: center;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .timeline-min-height {
    width: 100% !important;
  }
  .profileProjectTable table tr td {
    width: 200px;
  }
  table .profileMultiUserBlock {
    display: flex;
    align-items: baseline;
  }
  .profileMultiUserBlock br {
    display: none;
  }
  .profileMultiUserBlockBlack ul  {
    padding: 0;
    text-align: center;
    margin: 0 auto;
  }
  .profileMultiUserBlockBlack {
    width: auto;
  }
  .profileMultiUserBlockBlack ul li {
    position: unset;
  }
  .profileMultiUserBlock  ul  li .mat-icon {
    width: 25px;
    height: 24px;
    font-size: 22px;
}
.profileProjectTable tr td:nth-child(7) {
  width: auto !important;
}
.profileProjectTable tr td:nth-child(8) {
  text-align: center;
}
}
