<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../../assets/my3sec-logo-cropped.png"> My3Sec</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <form class="d-flex ms-auto me-auto ">
              <select class="form-select" aria-label="Default select example">
                <option selected>Profile</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><mat-icon class="">search</mat-icon></button>
        </form>

        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link" aria-current="page" href="#">1032</a>
              <mat-icon class="text-white">flash_on</mat-icon>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link" href="#">Profile </a>
              <mat-icon class="text-white">account_circle</mat-icon> 
            </li>
          </ul>
      </div>
    </div>
  </nav>