.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.3fr auto 1fr;
  gap: 5px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header"
    "Readme Readme"
    "Projects Infos"
}

.header {
  grid-area: Header;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projects {
  grid-area: Projects;
}

.readme {
  grid-area: Readme;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infos {
  grid-area: Infos;
}

.organization-icon {
  width: 15%;
}

.ml-auto{
  margin-left: auto;
}

@media screen and (max-device-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header > button {
    width: 100%;
  }

  .round-image {
    width: 50%;
  }
}