.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.header-company {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 500px;
}

.header-company p {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 5px;
}

.header-company img {
  max-height: 100px;
  justify-self: end;
  margin-right: 5px;
}

.header-company .name {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}