<ng-container *ngIf="organization$ | async as organization">
  <div class="header">
    <div class="header-company">
      <img class="round-image" src="{{ organization.icon }}" alt="..." />
      <div class="header-company name">
        <h2>{{ organization.name }}</h2>
        <span class="address">{{ organization.address }}</span>
      </div>
      <p>{{ organization.headline }}</p>
    </div>

    <ng-container *ngIf="{ isMember: (isMember$ | async), isManager: (isManager$ | async) } as memberCheck">
      <app-people-detail [label]="'managers'" [people]="organization.managers"></app-people-detail>
      <app-people-detail
        [people]="organization.members"
        [showAddPeopleIcon]="!memberCheck.isMember && !memberCheck.isManager"
        (add)="joinOrganization()"></app-people-detail>
      <ng-container *ngIf="memberCheck.isManager">
        <app-people-detail [label]="'pending members'" [people]="organization.pendingMembers"></app-people-detail>
        <a href="javascript:void(0)" class="btn btn-outline-dark" (click)="goToCreateProject()">CREATE PROJECT</a>
      </ng-container>
    </ng-container>
  </div>
  <app-project-list [projects$]="projects$"></app-project-list>
</ng-container>
<router-outlet></router-outlet>
