<div class="certificateCardBlock p-4 bg-white skill-min-height">
    <h2 class="mb-3">Certificates </h2>
    <mat-card class="border p-3 cards bg-dark text-white rounded-3 mb-3 border-0"
        *ngFor="let certificate of certificateData">
        <div class="certificateCardContentRow">
            <div class="flex-shrink-0">
                <mat-icon class="text-dark">{{certificate.label}}</mat-icon>
            </div>
            <div class="flex-grow-1 ms-3 ms-md-0 ms-lg-3">
                <h6>{{certificate.course}} </h6>
                <small class="text-Light text-end">{{certificate.achievement}}</small>
                <small class="text-Light text-start text-lg-end d-block">{{certificate.date}}</small>
            </div>
        </div>
        <div class="certificatesItemIcon">
            <mat-icon class="text-black">{{certificate.label}}</mat-icon>
        </div>
    </mat-card>
</div>