.certificateCardBlock {
  position: relative;
}
.certificateCardBlock .mat-icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 40px;
  background: #f9f9f9;
  border-radius: 50%;
  text-align: center;
}
.certificateCardBlock .certificatesItemIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.certificateCardBlock .certificatesItemIcon .mat-icon {
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: #f9f9f9;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}


.certificateCardContentRow {
  display: flex;
  align-items: center;
}
.certificateCardContentRow .flex-shrink-0 {
  flex-shrink: 0 !important;
}
.certificateCardContentRow .flex-grow-1 {
  flex-grow: 1 !important;
}
.skill-min-height {
  height: 450px;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .certificateCardBlock .cards .d-flex {
    display: block !important;
  }
  .certificateCardContentRow {
    flex-direction: column;
  }
  .skill-min-height {
    height: auto;
  }
  
}