<ng-container *ngIf="members$ | async as members">
  <h1 mat-dialog-title class="title-style">{{ this.title }}</h1>
  <div mat-dialog-content class="dialog-container">
    <mat-list>
      <mat-list-item *ngFor="let member of members">
        <img
          class="avatar clickable"
          matListItemAvatar
          src="{{ member.profileImage }}"
          alt="{{ member.firstName }} {{ member.surname }} profile image"
          (click)="goTo(member.id)" />
        <div matListItemTitle class="container">
          <span class="clickable"  (click)="goTo(member.id)">{{ member.firstName }} {{ member.surname }}</span>

          <div class="container-buttons" *ngIf="memberType !== 'manager' && (isManager || isOwner)">
            <button
              mat-stroked-button
              color="primary"
              *ngIf="memberType === 'member' && isOwner && !!!(isMemberManager(member.walletAddress) | async)"
              (click)="promoteToManager(member.walletAddress)">
              Promote
            </button>

            <button
              mat-stroked-button
              color="primary"
              *ngIf="memberType === 'pendingMember'"
              (click)="approvePendingMember(member.id)">
              Accept
            </button>
            <button
              mat-stroked-button
              color="warn"
              class="ml-auto"
              *ngIf="memberType === 'pendingMember'"
              (click)="remove(member.id)">
              Remove
            </button>
          </div>
        </div>
        <div matListItemLine *ngIf="member.walletAddress === (owner$ | async)">owner</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="close()">Close</button>
  </div>
</ng-container>
