<div *ngIf="this.profileData$ | async as profileData">
  <div class="container">
    <div>
      <div class="bio">
        <img src="{{ profileData.profileImage }}" alt="Profile Picture" class="circle-image" />
        <div class="profiletitleBlock">
          <h1 class="fw-bold">{{ profileData.firstName }} {{ profileData.surname }}</h1>
          <p class="address">
            {{ profileData.walletAddress }}
          </p>
          <p *ngIf="profileData.bio">
            {{ profileData.bio }}
          </p>
          <button
            mat-flat-button
            class="w-full mt-1 mb-2"
            color="primary"
            *ngIf="!this.useDefaultProfile; else editProfile"
            (click)="openSliderDialog(profileData)">
            Endorse
          </button>
          <ng-template #editProfile>
            <button class="w-full mt-1 mb-2" (click)="openUpdateProfile(profileData)" mat-stroked-button>
              Edit Profile
            </button>
          </ng-template>
        </div>
        <div
          class="profile-energy-panel"
          *ngIf="{
            value: profileData.energy.totalEndorsing$ | async
          } as totalEndorsing">
          <p class="profile-energy-panel">
            <mat-icon>group</mat-icon>
          </p>

          <div
            class="clickable-text"
            [class.clickable]="totalEndorsing.value && totalEndorsing.value > 0"
            (click)="openEndorsersOrEndorsingDialog(true, totalEndorsing.value)">
            <span class="bold black">{{ totalEndorsing.value }}&nbsp;</span>
            <span>Endorsing</span>
          </div>
          <ng-container
            *ngIf="{
              value: profileData.energy.totalEndorsers$ | async
            } as totalEndorsers">
            <span>&nbsp;•&nbsp;</span>
            <div
              class="clickable-text"
              [class.clickable]="totalEndorsers.value && totalEndorsers.value > 0"
              (click)="openEndorsersOrEndorsingDialog(false, totalEndorsers.value)">
              <span class="bold black">{{ totalEndorsers.value }}&nbsp;</span>
              <span class="mb-0">Endorsers</span>
            </div>
          </ng-container>
          <ng-container
            *ngIf="{
              value: profileData.energy.receivedEnergyOf$ | async
            } as receivedEnergyOf">
            <mat-icon>flash_on</mat-icon>
            <span class="bold black">{{ receivedEnergyOf.value }}&nbsp;</span>
            <span class="mb-0">Energy</span>
          </ng-container>
        </div>
        <h4>Organizations</h4>
        <app-organization-list-summary [organizationsInput$]="organizations$"></app-organization-list-summary>
      </div>
    </div>
    <div class="cv">
      <app-skills [profileId]="id"></app-skills>
      <app-certificates [profileId]="id"></app-certificates>
      <app-project-list [projects$]="projects$" [showOrganization]="true"></app-project-list>
    </div>
  </div>
</div>
