.container {
  display: grid;
  padding: 10px;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    'bio CV'
}

.bio {
  grid-area: Short;
}

.cv {
  grid-area: CV;
}

.profile-image {
  width: 200px;
  height: 200px;
}

.profile-energy-panel {
  display: flex;
  flex-direction: row;
  color: #595959;
}

.circle-image {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
  padding: 5px;
  margin: 10px;
}

@media screen and (max-device-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .circle-image {
    width: 50%;
  }
}