<div class="dark-wrapper p-5">
  <div class="container">
    <div class="my3sec-modal">
      <div class="logo-img text-center mb-5">
        <img src="../../../assets/images/my3sec-logo-cropped.png" />
      </div>
      <h2>Log Hours</h2>
      <form action="#" class="form form-label-right" [formGroup]="logHoursForm" (ngSubmit)="onSubmit()">
        <div class="login-input-col-2 login-input-col-1">
          <mat-form-field class="example-form-field d-block" appearance="outline">
            <mat-label>Task</mat-label>
            <mat-select [formGroup]="logHoursForm" autocomplete="off" formControlName="task">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let task of tasks" [value]="task.name">
                {{ task.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formError('task', 'required')">Task is required</mat-error>
          </mat-form-field>
        </div>
        <div class="login-input-col-2 login-input-col-1">
          <mat-form-field class="example-form-field d-block" appearance="outline">
            <mat-label>Hours</mat-label>
            <input
              matInput
              type="number"
              name="hours"
              autocomplete="off"
              formControlName="hours"
              min="0.5"
              max="5"
              step="0.5" />
            <mat-error *ngIf="formError('hours', 'required')">Hours is required</mat-error>
          </mat-form-field>
        </div>
        <div class="text-center mt-4">
          <button class="btn btn-dark text-uppercase" type="submit">LOG HOURS</button>
        </div>
      </form>
    </div>
  </div>
</div>
