<div class="dark-wrapper p-5">
  <div class="container">
    <div class="login-page-block">
      <div class="logo-img text-center mb-5">
        <img src="../../../assets/images/my3sec-logo-cropped.png" />
      </div>
      <ng-container *ngIf="profileExists$ | async; else noProfile">
        <app-profile-exists></app-profile-exists>
      </ng-container>
      <ng-template #noProfile>
        <app-user-registration-editor (profileCreated)="redirectToProfile()"></app-user-registration-editor>
      </ng-template>
    </div>
  </div>
</div>
