.dark-wrapper {
  background-color: #ddd;
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-page-block {
  background-color: #fff;
  border-radius: 16px;
  padding: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 50%;
  margin: 0 auto;
}

.logo-img img {
  width: 80px;
  margin: 0 auto;
}

@media screen and (max-device-width: 640px) {
  .dark-wrapper {
    padding: 20px !important;
  }
  .login-page-block {
    width: 100%;
    padding: 20px;
  }
}