.container {
  display: flex;
  align-items: center;
  justify-self: center;
}

.container span {
  font-size: 1.2rem;
  font-weight: 500;
}
.container-energy {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: 16px;
}

.avatar {
  object-fit: cover;
}