<div class="profileProjectTable mt-4 bg-white p-4">
  <h2 class="d-flex justify-content-between align-items-center mb-3">
    Project
<!--     <a href="javascript:void(0)" class="btn btn-outline-dark" *ngIf="projects.length > 0">ALL PROJECT</a> -->
  </h2>
  <div class="table-responsive">
    <table *ngIf="projects.length > 0; else noProjects" class="table">
      <tbody>
        <tr
          class="d-flex align-items-center justify-content-between border rounded mb-2"
          *ngFor="let project of projects">
          <td class="border-0">
            <div class="rounded-3 bg-dark text-white text-center d-flex flex-column">{{ project.hours }}h</div>
          </td>
          <td class="border-0">
            <div class="d-flex flex-column text-center">
              <h5 class="mb-0">{{ project.name }}</h5>
              <small>{{ project.description }}</small>
            </div>
          </td>
          <td class="border-0">
            <div class="d-flex flex-column text-center">
              <div *ngIf="project.tasks | async as tasks">
                <h5 class="mb-0">{{ tasks.length }}</h5>
                <small>Tasks</small>
              </div>
            </div>
          </td>
          <td class="border-0" *ngIf="showOrganization">
            <div class="d-flex flex-column text-center">
              <h5 class="mb-0">{{ project.organization }}</h5>
              <span><mat-icon>account_circle</mat-icon> </span>
            </div>
          </td>
          <td class="border-0">
            <div class="d-flex flex-column text-center">
              <h5 class="mb-0">{{ project.currentMonth }} / {{ project.durationInMonths }}</h5>
              <small>Months completed</small>
            </div>
          </td>
          <td class="border-0">
            <ng-container *ngIf="project.members | async as members">
              <div class="people-detail">
                <div class="profile-list">
                  <ng-container *ngFor="let person of members">
                    <img class="round-image" src="{{ person.profileImage }}" />
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </td>
          <td class="border-0">
            <div class="d-flex flex-column text-center">
              <app-show-status [status]="project.status"></app-show-status>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noProjects>
      <div class="table-responsive">No projects found</div>
    </ng-template>
  </div>
</div>
