<ng-container *ngIf="projects$ | async as projects">
  <div class="mt-4 bg-white p-4">
    <h2 class="mb-3">Projects</h2>
    <div class="d-flex flex-column">
      <ng-container *ngIf="projects.length > 0; else noProjects">
        <div class="d-flex flex-column  border border-1 border-light-subtle mt-1 mb-1 p-2 rounded-1 clickable" *ngFor="let project of projects" (click)="goTo(project.id)">
          <div class="d-inline-flex">
            <h5>{{ project.name | titlecase }}</h5>
            <app-show-status [status]="project.status"></app-show-status>
          </div>
          <div class="d-inline-flex mb-2 mt-n1 text-secondary">
            <small>{{ project.headline }}</small>
          </div>
          <div class="d-inline-flex column-gap-2">
            <p class="d-inline-flex" *ngIf="project.members | async as members">
              <mat-icon>group</mat-icon>
              <ng-container *ngIf="members.length > 0; else noMembers">
                {{ members.length }}
              </ng-container>
              <ng-template #noMembers>no members</ng-template>
            </p>
            <p class="d-inline-flex" *ngIf="project.members | async as members">
              <mat-icon>task</mat-icon>
              <ng-container *ngIf="project.tasks | async as tasks">
                {{ tasks.length }}
              </ng-container>
              <ng-template #noMembers>no members</ng-template>
            </p>
            <p class="d-inline-flex">
              <mat-icon>calendar_month</mat-icon>
              {{ project.currentMonth }}/{{ project.durationInMonths }}
            </p>
          </div>
        </div>
      </ng-container>
      <!--
      <table *ngIf="projects.length > 0; else noProjects" class="table">
        <tbody>
          <tr
            class="d-flex align-items-center justify-content-between border rounded mb-2 clickable"
            *ngFor="let project of projects"
            (click)="goTo(project.id)">
            <td class="border-0">
              <div class="rounded-3 bg-dark text-white text-center d-flex flex-column">{{ project.hours }}h</div>
            </td>
            <td class="border-0">
              <div class="d-flex flex-column text-center">
                <h5 class="mb-0">{{ project.name }}</h5>
                <small>{{ project.headline }}</small>
              </div>
            </td>
            <td class="border-0">
              <div class="d-flex flex-column text-center">
                <div *ngIf="project.tasks | async as tasks">
                  <h5 class="mb-0">{{ tasks.length }}</h5>
                  <small>Tasks</small>
                </div>
              </div>
            </td>
            <td class="border-0" *ngIf="showOrganization">
              <div class="d-flex flex-column text-center">
                <h5 class="mb-0">{{ project.organization }}</h5>
                <span><mat-icon>account_circle</mat-icon> </span>
              </div>
            </td>
            <td class="border-0">
              <div class="d-flex flex-column text-center">
                <h5 class="mb-0">{{ project.currentMonth }}/ {{ project.durationInMonths }}</h5>
                <small>Months completed</small>
              </div>
            </td>
            <td class="border-0">
              <ng-container *ngIf="project.members | async as members">
                <ng-container *ngIf="members.length > 0; else noMembers">
                  <app-people-detail [showLabel]="false" [iconSize]="30" [people]="members"></app-people-detail>
                </ng-container>
                <ng-template #noMembers>no members</ng-template>
              </ng-container>
            </td>
            <td class="border-0">
              <div class="d-flex flex-column text-center">
                <app-show-status [status]="project.status"></app-show-status>
              </div>
            </td>
          </tr>
        </tbody>
      </table>-->
      <ng-template #noProjects>
        <div class="no-projects">
          <img src="../../../assets/icons/no-projects.svg" alt="" />
          <p class="m-4">No projects found</p>
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>
