/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f1f1f1;
}

.address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #797979;
}

.bold {
  font-weight: bold;
}

.black {
  color: #000;
}

.round-image {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.my3sec-modal {
  background-color: #fff;
  border-radius: 16px;
  padding: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-device-width: 640px) {
  .my3sec-modal {
    width: 100%;
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .my3sec-modal {
    width: 100%;
  }
}

.clickable {
  cursor: pointer;
}

.w-full {
  width: 100%;
}
