.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #333;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  color: #555;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #777;
}
