<div class="profileProjectTable mt-4 bg-white p-4">
  <h2 class="d-flex justify-content-between align-items-center mb-3">
    Project
    <a href="javascript:void(0)" class="btn btn-outline-dark">ALL PROJECT</a>
  </h2>
  <div class="table-responsive">
    <table *ngIf="projects.length > 0" class="table">
      <tbody>
        <tr
          class="d-flex align-items-center justify-content-between border rounded mb-2"
          *ngFor="let project of projects"
        >
          <td class="border-0">
            <div
              class="rounded-3 bg-dark text-white text-center d-flex flex-column"
            >
              {{ project.hours }}h
            </div>
          </td>
          <td class="border-0">
            <div class="d-flex flex-column text-center">
              <h5 class="mb-0">{{ project.name }}</h5>
              <small>{{ project.description }}</small>
            </div>
          </td>
          <td class="border-0">
            <div class="d-flex flex-column text-center">
              <h5 class="mb-0">{{ project.tasks.length }}</h5>
              <small>Tasks</small>
            </div>
          </td>
          <td class="border-0">
            <div class="d-flex flex-column text-center">
              <h5 class="mb-0">{{ project.organization }}</h5>
              <span><mat-icon>account_circle</mat-icon> </span>
            </div>
          </td>
          <td class="border-0">
            <div class="d-flex flex-column text-center">
              <h5 class="mb-0">
                {{ project.currentMonth }}/ {{ project.durationInMonths }}
              </h5>
              <small>Months completed</small>
            </div>
          </td>
          <td class="border-0">
            <div class="text-center">
              <div class="profileMultiUserBlock">
                <ul class="mb-4">
                  <li>
                    <mat-icon class="text-black">account_circle</mat-icon>
                  </li>
                  <li>
                    <mat-icon class="text-black">account_circle</mat-icon>
                  </li>
                  <li>
                    <mat-icon class="text-black">account_circle</mat-icon>
                  </li>
                  <li>
                    <mat-icon class="text-black">account_circle</mat-icon>
                  </li>
                </ul>
                <small> Workers </small>
              </div>
            </div>
          </td>
          <td class="border-0">
            <div class="d-flex flex-column text-center">
              <span><mat-icon>account_circle</mat-icon> </span>
              <small>Project Manager</small>
            </div>
          </td>
          <td class="border-0">
            <div class="d-flex flex-column text-center">
              <h5
                class="mb-0 text-success"
                *ngIf="project.status; else closed"
              >
                ACTIVE
              </h5>
              <ng-template #closed>
                <h5 class="mb-0 text-warning">CLOSED</h5>
              </ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-responsive">
      No projects found
    </div>
  </div>
</div>
