<ng-container *ngIf="certificates$ | async as certificates">
  <ng-container *ngIf="certificates.length > 0">
    <div class="mt-4 bg-white p-4">
      <h2 class="mb-3">Certificates</h2>
      <mat-list>
        <mat-list-item *ngFor="let certificate of certificates">
          <img class="round-image" matListItemAvatar src="{{ certificate.image }}" alt="{{ certificate.name }} icon" />
          <span matListItemTitle>{{ certificate.name }}</span>
          <p matListItemLine>{{ certificate.description }}</p>
        </mat-list-item>
      </mat-list>
      <ng-template #noCertificates> No certificates found </ng-template>
    </div>
  </ng-container>
</ng-container>
