<h1 mat-dialog-title>Log Hours</h1>
<div mat-dialog-content>
  <form
    action="#"
    class="form form-label-right d-flex justify-content-center mt-5 mb-5"
    [formGroup]="logHoursForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field class="d-block max-width" appearance="outline">
      <mat-label>Hours</mat-label>
      <input
        matInput
        type="number"
        name="hours"
        autocomplete="off"
        formControlName="hours"
        min="1"
        step="1" />
      <mat-error *ngIf="formError('hours', 'required')">Hours is required</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <small class="bg-dark text-white p-2 rounded ms-4 clickable" (click)="onSubmit()">LOG HOURS</small>
  <button mat-button mat-dialog-close>Close</button>
</div>
