<h1 mat-dialog-title>Log Hours</h1>
<div mat-dialog-content>
  <form action="#" class="form form-label-right" [formGroup]="logHoursForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-form-field d-block" appearance="outline">
      <mat-label>Hours</mat-label>
      <input
        matInput
        type="number"
        name="hours"
        autocomplete="off"
        formControlName="hours"
        min="0.5"
        max="5"
        step="0.5" />
      <mat-error *ngIf="formError('hours', 'required')">Hours is required</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <small class="bg-dark text-white p-2 rounded ms-4 clickable" (click)="onSubmit()">LOG HOURS</small>
  <button mat-button mat-dialog-close>Close</button>
</div>
