.nav-bar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: grey; /* mock up color when we still do not define theme */
}

mat-toolbar img {
  width: 50%;
  max-height: 70%;
  object-fit: contain; /* or scale-down */
}

.nav-bar div:first-child {
  flex: 1 1 20%; /* equivalent to 1/6 */
  justify-content: center;
  display: flex;
}

.nav-bar div:nth-child(2) {
  flex: 4 1 60%; /* equivalent to 2/3 */
  justify-content: center;
  display: flex;
}

.nav-bar div:last-child {
  flex: 1 1 20%; /* equivalent to 1/6 */
  justify-content: center;
  display: flex;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.mat-form-field-appearance-fill .mat-form-field-flex {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
