<mat-toolbar class="nav-bar">
  <div>
    <!--     <img src="assets/my3sec-logo-cropped.png" alt="My3Sec Logo" />
 -->
    <span>My3Sec</span>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Select me</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter some input</mat-label>
      <input matInput placeholder="Search" />
    </mat-form-field>
  </div>
  <div>
    <span>buttons</span>
  </div>
</mat-toolbar>
