<div class="dark-wrapper">
  <div class="container">
    <div class="container-content">
      <div class="centerDiv text-center">
        <div class="logo-img">
          <img src="../../../assets/images/my3sec-logo-cropped.png" />
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <img src="../../../assets/images/metamask-fox.png" />
        </div>
        <h1>
          Looks like you don't have <br />
          Metamask installed
        </h1>
        <p>My3Sec utilizer Metamask to authenticate users in the blockchain</p>
        <div class="btn-block">
          <a href="https://metamask.io/download/" target="_blank" class="btn btn-dark text-uppercase">
            Install Metamask
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
